<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/style.css" />
    <link rel="stylesheet" href="./assets/animate.min.css" />
  </head>
  <body>
    <div id="board">
      <div class="row">
        <div
          id="blank00"
          row="0"
          column="0"
          class="gamecell "
          piece="redpawn"
        ></div>
        <div
          id="blank01"
          row="0"
          column="1"
          class="gamecell "
          piece="redpawn"
        ></div>
        <div
          id="blank02"
          row="0"
          column="2"
          class="gamecell "
          piece="redpawn"
        ></div>
        <div
          id="blank03"
          row="0"
          column="3"
          class="gamecell "
          piece="redpawn"
        ></div>
        <div
          id="blank04"
          row="0"
          column="4"
          class="gamecell "
          piece="redpawn"
        ></div>
        <div
          id="blank05"
          row="0"
          column="5"
          class="gamecell "
          piece="blackrook"
        ></div>
        <div
          id="blank06"
          row="0"
          column="6"
          class="gamecell "
          piece="blackrook"
        ></div>
        <div
          id="blank07"
          row="0"
          column="7"
          class="gamecell "
          piece="redrook"
        ></div>
      </div>
      <div class="row">
        <div
          id="blank10"
          row="1"
          column="0"
          class="gamecell "
          piece="redrook"
        ></div>
        <div
          id="blank11"
          row="1"
          column="1"
          class="gamecell "
          piece="redhorse"
        ></div>
        <div
          id="blank12"
          row="1"
          column="2"
          class="gamecell "
          piece="redhorse"
        ></div>
        <div
          id="blank13"
          row="1"
          column="3"
          class="gamecell "
          piece="redking"
        ></div>
        <div
          id="blank14"
          row="1"
          column="4"
          class="gamecell "
          piece="redelephant"
        ></div>
        <div
          id="blank15"
          row="1"
          column="5"
          class="gamecell "
          piece="redelephant"
        ></div>
        <div
          id="blank16"
          row="1"
          column="6"
          class="gamecell "
          piece="redboom"
        ></div>
        <div
          id="blank17"
          row="1"
          column="7"
          class="gamecell "
          piece="redboom"
        ></div>
      </div>
      <div class="row">
        <div
          id="blank20"
          row="2"
          column="0"
          class="gamecell "
          piece="redsu"
        ></div>
        <div
          id="blank21"
          row="2"
          column="1"
          class="gamecell "
          piece="redsu"
        ></div>
        <div
          id="blank22"
          row="2"
          column="2"
          class="gamecell "
          piece="blacksu"
        ></div>
        <div
          id="blank23"
          row="2"
          column="3"
          class="gamecell "
          piece="blackhorse"
        ></div>
        <div
          id="blank24"
          row="2"
          column="4"
          class="gamecell "
          piece="blackelephant"
        ></div>
        <div
          id="blank25"
          row="2"
          column="5"
          class="gamecell "
          piece="blackboom"
        ></div>
        <div
          id="blank26"
          row="2"
          column="6"
          class="gamecell "
          piece="blacksu"
        ></div>
        <div
          id="blank27"
          row="2"
          column="7"
          class="gamecell "
          piece="blackpawn"
        ></div>
      </div>
      <div class="row">
        <div
          id="blank30"
          row="3"
          column="0"
          class="gamecell "
          piece="blackking"
        ></div>
        <div
          id="blank31"
          row="3"
          column="1"
          class="gamecell "
          piece="blackboom"
        ></div>
        <div
          id="blank32"
          row="3"
          column="2"
          class="gamecell "
          piece="blackelephant"
        ></div>
        <div
          id="blank33"
          row="3"
          column="3"
          class="gamecell "
          piece="blackhorse"
        ></div>
        <div
          id="blank34"
          row="3"
          column="4"
          class="gamecell "
          piece="blackpawn"
        ></div>
        <div
          id="blank35"
          row="3"
          column="5"
          class="gamecell "
          piece="blackpawn"
        ></div>
        <div
          id="blank36"
          row="3"
          column="6"
          class="gamecell "
          piece="blackpawn"
        ></div>
        <div
          id="blank37"
          row="3"
          column="7"
          class="gamecell "
          piece="blackpawn"
        ></div>
      </div>
    </div>
    <div id="victory">勝負結果</div>
    <button onclick="victory()">判斷輸贏</button>
    <script src="./jquery.min.js"></script>
    <script src="./game/shuffle.js"></script>
    <script src="./game/piecestyle.js"></script>
    <script src="./game/index.js"></script>
    <script src="./game/cover.js"></script>
    <script src="./game/piece.js"></script>
    <script src="./game/victory.js"></script>
  </body>
</html>
